// Place all the styles related to the Word controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  td {
  font-family: Georgia;
  font-size: 10px;
  }
}

.words_index {
  .randomwords {
    font-family: Georgia;
  }

  .words_table_headers {
    color: blue;
    text-align: left;
  }

  h2 {
    color: red;
  }
}